@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  width: 375px;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  margin: 16rem auto;
  position: relative;
}

.section {
  height: 535px;
  width: 327px;
  border-radius: 23px;
  background: #fff;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.4972);
}

.mobile-shade {
  position: absolute;
  height: 145px;
  width: 240px;
  left: 46px;
  top: -24px;
  background-image: url('./images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.mobile-image {
  position: absolute;
  height: 179px;
  width: 236px;
  left: 46px;
  top: -108px;
  background-image: url('./images/illustration-woman-online-mobile.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

h1 {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(30, 31, 54, 1);
  padding: 8.3rem 8.1rem 3.4rem 8.1rem;
}

.container {
  height: 285px;
  overflow-y: auto;
  margin: 0 1rem;
}

.qus-ans {
  min-height: 2.3rem;
  border-bottom: solid 1px rgba(232, 232, 234, 1);
}

.question,
.answer {
  width: 100%;
  max-width: 279px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  cursor: pointer;
  margin-top: 1rem;
}

.question span:hover {
  color: #e64919;
}

.answer {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: none;
  margin: 12px auto;
  width: 279px;
}

.visible .question {
  color: #1e1f36;
  font-weight: 700;
  line-height: 16.12px;
  font-size: 13px;
}

.visible .answer {
  display: block;
  color: #787887;
}

.visible .question img {
  transform: rotate(180deg);
}
